@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
  background-color: #111828;
}

body {
  font-family: "Work Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}


@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:px-16 !py-6 px-8 min-h-[calc(100vh-80px)];
  }

  .max-container2 {
    @apply max-w-5xl mx-auto sm:px-16 pb-12 !pt-24 px-8 max-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-tight;
  }

  .subhead-text {
    @apply font-medium sm:text-3xl text-xl relative sm:leading-tight;
  }

  .subhead-text2 {
    @apply font-medium sm:text-lg text-lg relative sm:leading-tight;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .red-gradient_text {
    @apply bg-gradient-to-r from-[#38B000] to-[#008000] bg-clip-text text-transparent;
  }

  .yellow-gradient_text {
    @apply bg-gradient-to-r from-[#38B000] to-[#166D3B] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between absolute items-center max-w-5xl sm:px-16 py-4 px-8 mx-auto top-0 z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-green-700 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply max-w-5xl mx-auto flex items-center md:flex-row flex-col sm:my-16 my-8 gap-7 sm:px-16 px-8;
  }

  .cta-text {
    @apply text-black-500 font-extrabold flex-1 text-3xl max-md:text-center;
  }

  .link {
    @apply mt-5 flex items-center gap-2 font-poppins
  }

  .vid {
    @apply w-full
  }

}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 15;
  transform-origin: top;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 15;
  transform-origin: bottom;
}

#hideScreen {
  top:0; left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(50,50,50, 0.9);
  z-index: 1;
  display: none;
}

.whitefilter {
  filter: invert(100%) sepia(6%) saturate(24%) hue-rotate(152deg) brightness(105%) contrast(106%);
}
